@import 'variables';
@import 'fonts';

body {
  background-color: var(--color-gray-02);
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu-Regular', sans-serif;
  -webkit-tap-highlight-color: transparent;
}