.auth-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  height: fit-content;
  padding: 20px;
  margin: 0 auto;
  background-color: var(--color-gray-01);
  border-radius: 12px;
  border: 1px solid var(--color-gray-02);

  &__header {
    font-family: Ubuntu-Medium sans-serif;
    color: var(--color-white);
  }
}