.auth-page-content {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  height: fit-content;
  padding: 30px;
  margin: 0 auto;
  background-color: var(--color-gray-01);
  border-radius: 8px;
  border: 1px solid var(--color-gray-02);
  gap: 15px;

  &__header {
    text-align: center;
    font-family: 'Ubuntu-Medium', sans-serif;
    color: var(--color-white);
    font-size: 22px;

  }
}