
.dropmenu-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dropmenu-label {
    font-family: 'Ubuntu-Regular', sans-serif;
    color: var(--color-white);
    font-size: 14px;
}

.dropmenu-field {
    width: 100%;
    padding: 8px;
    font-family: 'Ubuntu-Regular', sans-serif;
    font-size: 14px;
    color: var(--color-white);
    background-color: var(--color-gray-01);
    border: 1px solid var(--color-gray-02);
    border-radius: 4px;
}

.dropmenu-field:disabled {
    background-color: var(--color-gray-02);
    opacity: 0.6;
    cursor: not-allowed;
}