.order-details-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: #272727;
    color: #ff8f00;
    border-radius: 12px;
}

.order-details-header {
    font-size: 18px;
    font-weight: bold;
}

.order-details-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-details-first {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 120px 80px;
    font-weight: bold;
    background: #373737;
    padding: 10px;
    border-radius: 8px;
}

.order-details-list {
    max-height: 300px; /* ограничение по высоте */
    overflow-y: auto; /* вертикальный скролл */
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-right: 5px; /* место для скроллбара */
}

.order-details-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 120px 80px;
    align-items: center;
    background: #373737;
    padding: 10px;
    border-radius: 8px;
}

.order-details-row span {
    color: #ffffff;
}

.order-details-link {
    background: none;
    border: none;
    color: #ff8f00;
    cursor: pointer;
    text-decoration: underline;
}

.order-details-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    gap: 10px;
    align-items: center;
    background: #373737;
    padding: 15px;
    border-radius: 8px;
}
