.footer {
  background-color: #373737; /* Lighter gray background */
  color: #FFFFFF; /* White text */
  padding: 1rem;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: 'Arial', 'Noto Sans', sans-serif;
}

.text {
  margin: 0;
  font-size: 0.9rem;
}

.link {
  color: #FF8F00;
  text-decoration: none;
}

.link:hover {
  color: #272727;
  text-decoration: underline;
}